# IPython files
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Chapter 001
**/001_hugging-face/resnet-18/

# Chapter 002
**/002_hugging-faca-transformer/token-classification/

# Chapter 003


# Common
**/**/**/checkpoint-*
**/**/**/runs
**/**/**/*.csv
**/**/wandb/
datasets/
images/